*.swp
*.pyc
*.pyo
build/
dist/
*.egg-info/
.coverage
htmlcov/
data/W.npy
data/__init__.py
data/answers.test.txt
data/answers.train.txt
data/b.npy
data/embeddings-scaled.EMBEDDING_SIZE=25.txt
data/embeddings-scaled.EMBEDDING_SIZE=25.txt.gz
data/input.txt
data/output.txt
data/questions.test.txt
data/questions.train.txt
data/trec1999.txt
questionstocorrect.txt
.DS_Store
.idea/
data/.idea/
ppp_ml_lua/results/
ppp_nlp_ml_standalone/.idea/